@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans/open-sans-300.woff2") format("woff2"), url("../fonts/open-sans/open-sans-300.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("../fonts/open-sans/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans/open-sans-regular.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/open-sans/open-sans-600.woff2") format("woff2"), url("../fonts/open-sans/open-sans-600.woff") format("woff"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans/open-sans-700.woff2") format("woff2"), url("../fonts/open-sans/open-sans-700.woff") format("woff"); }

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  src: local("Oswald Bold"), local("Oswald-Bold"), url("../fonts/oswald/oswald-700.woff2") format("woff2"), url("../fonts/oswald/oswald-700.woff") format("woff"); }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/font-awesome/fontawesome-webfont.eot");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
main {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0 none; }

h1 {
  margin: 0.67em 0;
  font-size: 2em; }

h2 {
  margin: 0.83em 0;
  font-size: 1.5em; }

h3 {
  margin: 1em 0;
  font-size: 1.25em; }

h4 {
  margin: 1.33em 0;
  font-size: 1em; }

h5 {
  margin: 1.67em 0;
  font-size: 0.875em; }

h6 {
  margin: 2.33em 0;
  font-size: 0.75em; }

abbr[title] {
  border-bottom: .1rem dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }
  q::before, q::after {
    content: '';
    content: none; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  margin: 0 .2rem;
  padding: .35em .625em .75em;
  border: 0.1rem solid #c0c0c0; }

legend {
  padding: 0;
  border: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    padding: 0;
    border: 0; }

button,
select {
  text-transform: none; }

html input[type="button"],
input[type="reset"],
input[type="submit"],
button {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

body {
  background-color: #fff;
  color: #696969; }

a {
  background-color: transparent;
  color: #08c;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: 0;
    color: #006699; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  font-weight: 700; }

.main-content {
  position: relative;
  width: 100%;
  height: 100%; }
  .main-content.home .container {
    width: 90%;
    margin: auto; }
  .main-content.home::before {
    content: "";
    display: block;
    position: fixed;
    top: -10px;
    width: 100%;
    height: 110%;
    opacity: .05;
    z-index: -10;
    background-image: url("../img/html-css_background.jpg");
    background-size: cover;
    background-position: 50% 50%; }

.css-tutorial::before {
  content: "";
  display: block;
  position: fixed;
  top: -10px;
  width: 100%;
  height: 110%;
  opacity: .05;
  z-index: -10;
  background-image: url("../img/css-bg_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0; }

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0; }

.main-title {
  text-align: center; }

.orange {
  color: #de7300; }

.blue {
  color: blue; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  padding-top: .8em;
  padding-bottom: .8em;
  color: #616161;
  text-align: right; }

td,
th {
  padding: .8em;
  vertical-align: middle; }

td {
  border-top: 0.1rem solid #bdbdbd;
  text-align: left; }

thead th {
  border-top: 0.1rem solid #bdbdbd;
  border-bottom: 0.2rem solid #bdbdbd;
  vertical-align: bottom; }

tfoot th {
  border-top: 0.2rem solid #bdbdbd;
  border-bottom: 0.1rem solid #bdbdbd; }

td:first-child {
  color: #ff8500; }

.table {
  display: table;
  width: 100%;
  max-width: 1000px;
  margin: 3rem 0; }
  .table.striped tbody tr:nth-child(2n + 1) td {
    background: #f0f0f0; }
  .table.striped th {
    border-bottom: 0.1rem solid #ededed; }
  .table.striped .table-body .table-row:nth-child(2n + 1) .table-cell {
    background: #f0f0f0; }
  .table.bordered {
    border: 0.1rem solid #bdbdbd; }
    .table.bordered th {
      border-right: 0.1rem solid #bdbdbd;
      border-left: 0.1rem solid #bdbdbd; }
    .table.bordered td {
      border: 0.1rem solid #bdbdbd; }
    .table.bordered .table-cell {
      border-right: 0.1rem solid #bdbdbd; }
  .table.hovered tbody tr:hover td {
    background: #d7d7d7; }
  .table.hovered .table-body .table-row:hover .table-cell {
    background: #d7d7d7; }
  .table.condensed td,
  .table.condensed th,
  .table.condensed .table-cell {
    padding: .4em; }
  .table.centered td,
  .table.centered th,
  .table.centered .table-cell {
    text-align: center; }
  .table-responsive {
    width: 100%;
    min-height: .01%;
    overflow: auto; }

.table.striped {
  width: 100% !important;
  margin: 3rem auto; }
  .table.striped tbody {
    margin-top: .5rem;
    width: 100%; }
  .table.striped th {
    font-weight: 800;
    border-bottom: 2px solid #bdbdbd; }
  .table.striped td {
    padding-bottom: .5rem;
    padding-top: .5rem; }

.title, .subtitle {
  color: #4d4d52;
  font-weight: 400;
  text-align: center;
  font-size: 45px;
  margin: .5rem auto; }

.subtitle {
  font-size: 30px; }

.xs-1 {
  width: 8.33333%; }

.xs-offset-1 {
  margin-left: 8.33333%; }

.xs-pull-1 {
  left: 8.33333%; }

.xs-push-1 {
  right: 8.33333%; }

.xs-2 {
  width: 16.66667%; }

.xs-offset-2 {
  margin-left: 16.66667%; }

.xs-pull-2 {
  left: 16.66667%; }

.xs-push-2 {
  right: 16.66667%; }

.xs-3 {
  width: 25%; }

.xs-offset-3 {
  margin-left: 25%; }

.xs-pull-3 {
  left: 25%; }

.xs-push-3 {
  right: 25%; }

.xs-4 {
  width: 33.33333%; }

.xs-offset-4 {
  margin-left: 33.33333%; }

.xs-pull-4 {
  left: 33.33333%; }

.xs-push-4 {
  right: 33.33333%; }

.xs-5 {
  width: 41.66667%; }

.xs-offset-5 {
  margin-left: 41.66667%; }

.xs-pull-5 {
  left: 41.66667%; }

.xs-push-5 {
  right: 41.66667%; }

.xs-6 {
  width: 50%; }

.xs-offset-6 {
  margin-left: 50%; }

.xs-pull-6 {
  left: 50%; }

.xs-push-6 {
  right: 50%; }

.xs-7 {
  width: 58.33333%; }

.xs-offset-7 {
  margin-left: 58.33333%; }

.xs-pull-7 {
  left: 58.33333%; }

.xs-push-7 {
  right: 58.33333%; }

.xs-8 {
  width: 66.66667%; }

.xs-offset-8 {
  margin-left: 66.66667%; }

.xs-pull-8 {
  left: 66.66667%; }

.xs-push-8 {
  right: 66.66667%; }

.xs-9 {
  width: 75%; }

.xs-offset-9 {
  margin-left: 75%; }

.xs-pull-9 {
  left: 75%; }

.xs-push-9 {
  right: 75%; }

.xs-10 {
  width: 83.33333%; }

.xs-offset-10 {
  margin-left: 83.33333%; }

.xs-pull-10 {
  left: 83.33333%; }

.xs-push-10 {
  right: 83.33333%; }

.xs-11 {
  width: 91.66667%; }

.xs-offset-11 {
  margin-left: 91.66667%; }

.xs-pull-11 {
  left: 91.66667%; }

.xs-push-11 {
  right: 91.66667%; }

.xs-12 {
  width: 100%; }

.xs-offset-12 {
  margin-left: 100%; }

.xs-pull-12 {
  left: 100%; }

.xs-push-12 {
  right: 100%; }

.xs-offset-0 {
  margin-left: 0; }

@media (min-width: 544px) {
  .s-1 {
    width: 8.33333%; }
  .s-offset-1 {
    margin-left: 8.33333%; }
  .s-pull-1 {
    left: 8.33333%; }
  .s-push-1 {
    right: 8.33333%; }
  .s-2 {
    width: 16.66667%; }
  .s-offset-2 {
    margin-left: 16.66667%; }
  .s-pull-2 {
    left: 16.66667%; }
  .s-push-2 {
    right: 16.66667%; }
  .s-3 {
    width: 25%; }
  .s-offset-3 {
    margin-left: 25%; }
  .s-pull-3 {
    left: 25%; }
  .s-push-3 {
    right: 25%; }
  .s-4 {
    width: 33.33333%; }
  .s-offset-4 {
    margin-left: 33.33333%; }
  .s-pull-4 {
    left: 33.33333%; }
  .s-push-4 {
    right: 33.33333%; }
  .s-5 {
    width: 41.66667%; }
  .s-offset-5 {
    margin-left: 41.66667%; }
  .s-pull-5 {
    left: 41.66667%; }
  .s-push-5 {
    right: 41.66667%; }
  .s-6 {
    width: 50%; }
  .s-offset-6 {
    margin-left: 50%; }
  .s-pull-6 {
    left: 50%; }
  .s-push-6 {
    right: 50%; }
  .s-7 {
    width: 58.33333%; }
  .s-offset-7 {
    margin-left: 58.33333%; }
  .s-pull-7 {
    left: 58.33333%; }
  .s-push-7 {
    right: 58.33333%; }
  .s-8 {
    width: 66.66667%; }
  .s-offset-8 {
    margin-left: 66.66667%; }
  .s-pull-8 {
    left: 66.66667%; }
  .s-push-8 {
    right: 66.66667%; }
  .s-9 {
    width: 75%; }
  .s-offset-9 {
    margin-left: 75%; }
  .s-pull-9 {
    left: 75%; }
  .s-push-9 {
    right: 75%; }
  .s-10 {
    width: 83.33333%; }
  .s-offset-10 {
    margin-left: 83.33333%; }
  .s-pull-10 {
    left: 83.33333%; }
  .s-push-10 {
    right: 83.33333%; }
  .s-11 {
    width: 91.66667%; }
  .s-offset-11 {
    margin-left: 91.66667%; }
  .s-pull-11 {
    left: 91.66667%; }
  .s-push-11 {
    right: 91.66667%; }
  .s-12 {
    width: 100%; }
  .s-offset-12 {
    margin-left: 100%; }
  .s-pull-12 {
    left: 100%; }
  .s-push-12 {
    right: 100%; }
  .s-offset-0 {
    margin-left: 0; } }

@media (min-width: 768px) {
  .m-1 {
    width: 8.33333%; }
  .m-offset-1 {
    margin-left: 8.33333%; }
  .m-pull-1 {
    left: 8.33333%; }
  .m-push-1 {
    right: 8.33333%; }
  .m-2 {
    width: 16.66667%; }
  .m-offset-2 {
    margin-left: 16.66667%; }
  .m-pull-2 {
    left: 16.66667%; }
  .m-push-2 {
    right: 16.66667%; }
  .m-3 {
    width: 25%; }
  .m-offset-3 {
    margin-left: 25%; }
  .m-pull-3 {
    left: 25%; }
  .m-push-3 {
    right: 25%; }
  .m-4 {
    width: 33.33333%; }
  .m-offset-4 {
    margin-left: 33.33333%; }
  .m-pull-4 {
    left: 33.33333%; }
  .m-push-4 {
    right: 33.33333%; }
  .m-5 {
    width: 41.66667%; }
  .m-offset-5 {
    margin-left: 41.66667%; }
  .m-pull-5 {
    left: 41.66667%; }
  .m-push-5 {
    right: 41.66667%; }
  .m-6 {
    width: 50%; }
  .m-offset-6 {
    margin-left: 50%; }
  .m-pull-6 {
    left: 50%; }
  .m-push-6 {
    right: 50%; }
  .m-7 {
    width: 58.33333%; }
  .m-offset-7 {
    margin-left: 58.33333%; }
  .m-pull-7 {
    left: 58.33333%; }
  .m-push-7 {
    right: 58.33333%; }
  .m-8 {
    width: 66.66667%; }
  .m-offset-8 {
    margin-left: 66.66667%; }
  .m-pull-8 {
    left: 66.66667%; }
  .m-push-8 {
    right: 66.66667%; }
  .m-9 {
    width: 75%; }
  .m-offset-9 {
    margin-left: 75%; }
  .m-pull-9 {
    left: 75%; }
  .m-push-9 {
    right: 75%; }
  .m-10 {
    width: 83.33333%; }
  .m-offset-10 {
    margin-left: 83.33333%; }
  .m-pull-10 {
    left: 83.33333%; }
  .m-push-10 {
    right: 83.33333%; }
  .m-11 {
    width: 91.66667%; }
  .m-offset-11 {
    margin-left: 91.66667%; }
  .m-pull-11 {
    left: 91.66667%; }
  .m-push-11 {
    right: 91.66667%; }
  .m-12 {
    width: 100%; }
  .m-offset-12 {
    margin-left: 100%; }
  .m-pull-12 {
    left: 100%; }
  .m-push-12 {
    right: 100%; }
  .m-offset-0 {
    margin-left: 0; } }

@media (min-width: 992px) {
  .l-1 {
    width: 8.33333%; }
  .l-offset-1 {
    margin-left: 8.33333%; }
  .l-pull-1 {
    left: 8.33333%; }
  .l-push-1 {
    right: 8.33333%; }
  .l-2 {
    width: 16.66667%; }
  .l-offset-2 {
    margin-left: 16.66667%; }
  .l-pull-2 {
    left: 16.66667%; }
  .l-push-2 {
    right: 16.66667%; }
  .l-3 {
    width: 25%; }
  .l-offset-3 {
    margin-left: 25%; }
  .l-pull-3 {
    left: 25%; }
  .l-push-3 {
    right: 25%; }
  .l-4 {
    width: 33.33333%; }
  .l-offset-4 {
    margin-left: 33.33333%; }
  .l-pull-4 {
    left: 33.33333%; }
  .l-push-4 {
    right: 33.33333%; }
  .l-5 {
    width: 41.66667%; }
  .l-offset-5 {
    margin-left: 41.66667%; }
  .l-pull-5 {
    left: 41.66667%; }
  .l-push-5 {
    right: 41.66667%; }
  .l-6 {
    width: 50%; }
  .l-offset-6 {
    margin-left: 50%; }
  .l-pull-6 {
    left: 50%; }
  .l-push-6 {
    right: 50%; }
  .l-7 {
    width: 58.33333%; }
  .l-offset-7 {
    margin-left: 58.33333%; }
  .l-pull-7 {
    left: 58.33333%; }
  .l-push-7 {
    right: 58.33333%; }
  .l-8 {
    width: 66.66667%; }
  .l-offset-8 {
    margin-left: 66.66667%; }
  .l-pull-8 {
    left: 66.66667%; }
  .l-push-8 {
    right: 66.66667%; }
  .l-9 {
    width: 75%; }
  .l-offset-9 {
    margin-left: 75%; }
  .l-pull-9 {
    left: 75%; }
  .l-push-9 {
    right: 75%; }
  .l-10 {
    width: 83.33333%; }
  .l-offset-10 {
    margin-left: 83.33333%; }
  .l-pull-10 {
    left: 83.33333%; }
  .l-push-10 {
    right: 83.33333%; }
  .l-11 {
    width: 91.66667%; }
  .l-offset-11 {
    margin-left: 91.66667%; }
  .l-pull-11 {
    left: 91.66667%; }
  .l-push-11 {
    right: 91.66667%; }
  .l-12 {
    width: 100%; }
  .l-offset-12 {
    margin-left: 100%; }
  .l-pull-12 {
    left: 100%; }
  .l-push-12 {
    right: 100%; }
  .l-offset-0 {
    margin-left: 0; } }

@media (min-width: 1200px) {
  .xl-1 {
    width: 8.33333%; }
  .xl-offset-1 {
    margin-left: 8.33333%; }
  .xl-pull-1 {
    left: 8.33333%; }
  .xl-push-1 {
    right: 8.33333%; }
  .xl-2 {
    width: 16.66667%; }
  .xl-offset-2 {
    margin-left: 16.66667%; }
  .xl-pull-2 {
    left: 16.66667%; }
  .xl-push-2 {
    right: 16.66667%; }
  .xl-3 {
    width: 25%; }
  .xl-offset-3 {
    margin-left: 25%; }
  .xl-pull-3 {
    left: 25%; }
  .xl-push-3 {
    right: 25%; }
  .xl-4 {
    width: 33.33333%; }
  .xl-offset-4 {
    margin-left: 33.33333%; }
  .xl-pull-4 {
    left: 33.33333%; }
  .xl-push-4 {
    right: 33.33333%; }
  .xl-5 {
    width: 41.66667%; }
  .xl-offset-5 {
    margin-left: 41.66667%; }
  .xl-pull-5 {
    left: 41.66667%; }
  .xl-push-5 {
    right: 41.66667%; }
  .xl-6 {
    width: 50%; }
  .xl-offset-6 {
    margin-left: 50%; }
  .xl-pull-6 {
    left: 50%; }
  .xl-push-6 {
    right: 50%; }
  .xl-7 {
    width: 58.33333%; }
  .xl-offset-7 {
    margin-left: 58.33333%; }
  .xl-pull-7 {
    left: 58.33333%; }
  .xl-push-7 {
    right: 58.33333%; }
  .xl-8 {
    width: 66.66667%; }
  .xl-offset-8 {
    margin-left: 66.66667%; }
  .xl-pull-8 {
    left: 66.66667%; }
  .xl-push-8 {
    right: 66.66667%; }
  .xl-9 {
    width: 75%; }
  .xl-offset-9 {
    margin-left: 75%; }
  .xl-pull-9 {
    left: 75%; }
  .xl-push-9 {
    right: 75%; }
  .xl-10 {
    width: 83.33333%; }
  .xl-offset-10 {
    margin-left: 83.33333%; }
  .xl-pull-10 {
    left: 83.33333%; }
  .xl-push-10 {
    right: 83.33333%; }
  .xl-11 {
    width: 91.66667%; }
  .xl-offset-11 {
    margin-left: 91.66667%; }
  .xl-pull-11 {
    left: 91.66667%; }
  .xl-push-11 {
    right: 91.66667%; }
  .xl-12 {
    width: 100%; }
  .xl-offset-12 {
    margin-left: 100%; }
  .xl-pull-12 {
    left: 100%; }
  .xl-push-12 {
    right: 100%; }
  .xl-offset-0 {
    margin-left: 0; } }

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2.5rem;
  overflow: hidden;
  background-color: #f6f7f9;
  box-shadow: 3px 8px 29px -6px rgba(0, 0, 0, 0.5);
  transition: width 250ms ease-in-out;
  z-index: 1000; }
  .nav-menu:hover {
    width: 20%; }
    .nav-menu:hover .nav-block {
      overflow-y: auto; }

.home-link {
  position: relative;
  display: block;
  width: 180px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase; }
  .home-link::before {
    content: '';
    display: inline-block;
    position: absolute;
    right: -2rem;
    top: 5px;
    width: 60px;
    height: 100%;
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat; }

.nav-list {
  padding: 0 0 0 3rem;
  display: block;
  overflow-x: hidden;
  list-style: none;
  counter-reset: item-number; }
  .nav-list li {
    display: flex;
    position: relative;
    height: 2.2rem;
    line-height: 2.2rem; }
    .nav-list li::before {
      counter-increment: item-number;
      content: counter(item-number);
      position: absolute;
      top: 6px;
      left: -40px;
      width: 25px;
      height: 22px;
      border-radius: 3px;
      background-color: #009BD9;
      font-size: 12px;
      text-align: center;
      line-height: 22px;
      color: #fff;
      transition: all 180ms ease; }
    .nav-list li:first-child {
      line-height: 1rem; }
    .nav-list li:hover {
      color: #000; }
      .nav-list li:hover::after {
        content: "";
        position: absolute;
        top: 0;
        right: -2px;
        display: block;
        width: 4px;
        height: 110%;
        background-color: #009BD9;
        border-radius: 20%;
        transition: all 180ms ease; }
  .nav-list .nav-link {
    font-size: 12px;
    display: inline-block;
    width: 100%;
    height: 100%; }

.selector-example {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .selector-example span {
    display: inline-block;
    text-align: left; }
    .selector-example span:first-child {
      margin-right: 50px; }

.child {
  margin: 0; }
  .child-first li:first-child {
    color: red; }
  .child-last li:last-child {
    color: red; }
  .child-num li:nth-child(2) {
    color: red; }
  .child-num-last li:nth-last-child(2) {
    color: red; }
  .child-not li:not(:last-child) {
    color: red; }
  .child-lang li:lang(en) {
    color: green; }
  .child-lang li:lang(ua) {
    color: #ffa500; }

span:target {
  display: inline-block;
  border: 1px solid red;
  color: red; }

.iverit {
  border: 2px solid blue;
  margin: 40px 0; }
  .iverit::before {
    content: 'Шо це за хрень?';
    color: red; }
  .iverit::after {
    content: 'Івріт походу';
    color: red; }

.first-letter::first-letter {
  color: red;
  font-size: 150%; }

.first-line::first-line {
  color: red;
  font-size: 18px; }

.select::selection {
  color: red;
  font-size: 20px;
  text-decoration: underline;
  text-shadow: 2px 2px #fff;
  background-color: #2c303d; }

.el-data {
  position: relative;
  display: block; }
  .el-data:hover::before {
    content: attr(data-content);
    display: block;
    position: absolute;
    background-color: #2c303d;
    color: white;
    padding: 10px;
    left: 100%; }

.el-count {
  counter-increment: myIndex; }
  .el-count::before {
    content: counter(myIndex);
    color: red; }

.el-quote::before {
  content: open-quote; }

.el-quote-close::before {
  content: close-quote; }

.el-url {
  height: 120px;
  background-color: #9cd0f4;
  position: relative; }
  .el-url::before {
    content: url("../img/s1.png");
    position: absolute;
    bottom: 0;
    left: 0; }
  .el-url::after {
    content: url("../img/s2.png");
    position: absolute;
    top: 0;
    right: 0; }

.font-size-24 {
  font-size: 24px; }

.font-size-1-5em {
  font-size: 1.5em; }

.animation-sample {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding: 5rem; }

@keyframes loader {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: rotate(-135deg); }
  100% {
    transform: rotate(-225deg); } }

@keyframes span-1 {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(-50px, 0);
    border-color: #EE4D68; }
  100% {
    transform: translate(0); } }

@keyframes span-2 {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(50px, 0);
    border-color: #875678; }
  100% {
    transform: translate(0); } }

@keyframes span-3 {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(0, -50px);
    border-color: #FF9900; }
  100% {
    transform: translate(0); } }

@keyframes span-4 {
  0% {
    transform: translate(0); }
  50% {
    transform: translate(0, 50px);
    border-color: #00E4F6; }
  100% {
    transform: translate(0); } }

.sample {
  width: 50px;
  height: 50px;
  position: relative;
  animation: loader 2s infinite ease-in-out; }
  .sample span {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border: 4px solid #0B1B48; }

.sample span:nth-child(1) {
  animation: span-1 2s ease-in-out infinite; }

.sample span:nth-child(2) {
  animation: span-2 2s ease-in-out infinite; }

.sample span:nth-child(3) {
  animation: span-3 2s ease-in-out infinite; }

.sample span:nth-child(4) {
  animation: span-4 2s ease-in-out infinite; }

.cubic-animation-wrapper .anim-container {
  display: inline-block;
  position: relative;
  margin: 20px 16px 20px 20px;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
  transition: .3s; }
  .cubic-animation-wrapper .anim-container:after {
    content: attr(class);
    position: absolute;
    top: 6px;
    font-size: 12px;
    left: 2px;
    padding: 0 6px; }

.cubic-animation-wrapper i {
  position: absolute;
  width: 5px;
  height: 5px;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  background: #0B1B48;
  animation: move 3s infinite; }

@keyframes move {
  0% {
    left: 0;
    bottom: 0; }
  100% {
    left: 145px;
    bottom: 145px; } }

.cubic-animation-wrapper .linear i {
  animation-timing-function: linear; }

.cubic-animation-wrapper .ease i {
  animation-timing-function: ease; }

.cubic-animation-wrapper .ease-in i {
  animation-timing-function: ease-in; }

.cubic-animation-wrapper .ease-in-out i {
  animation-timing-function: ease-in-out; }

.cubic-animation-wrapper .ease-out i {
  animation-timing-function: ease-out; }

.cubic-animation-wrapper .cubic-bezier-1 i {
  animation-timing-function: cubic-bezier(0.8, 1.5, 0.2, -1); }

.cubic-animation-wrapper .cubic-bezier-2 i {
  animation-timing-function: cubic-bezier(0.47, -0.44, 0.49, 1.46); }

.cubic-animation-wrapper .cubic-bezier-3 i {
  animation-timing-function: cubic-bezier(1, 0, 0, 0.5); }

.cubic-animation-wrapper .cubic-bezier-4 i {
  animation-timing-function: cubic-bezier(0.1, 0.7, 1, 0.1); }

.cubic-animation-wrapper .cubic-bezier-1:after {
  content: "cubic-bezier (.8,1.5,.2,-1)"; }

.cubic-animation-wrapper .cubic-bezier-2:after {
  content: "cubic-bezier (.47,-.44,.49,1.46)"; }

.cubic-animation-wrapper .cubic-bezier-3:after {
  content: "cubic-bezier (1,0,0,.5)"; }

.cubic-animation-wrapper .cubic-bezier-4:after {
  content: "cubic-bezier (.1,.7,1,1)"; }

.cubic-animation-wrapper .steps i {
  animation-timing-function: steps(10, end); }

.cubic-animation-wrapper .steps:after {
  content: "steps(10,end)"; }

.cubic-animation-wrapper i:nth-child(2) {
  animation-delay: .1s; }

.cubic-animation-wrapper i:nth-child(3) {
  animation-delay: .2s; }

.cubic-animation-wrapper i:nth-child(4) {
  animation-delay: .3s; }

.cubic-animation-wrapper i:nth-child(5) {
  animation-delay: .4s; }

.cubic-animation-wrapper i:nth-child(6) {
  animation-delay: .5s; }

.cubic-animation-wrapper i:nth-child(7) {
  animation-delay: .6s; }

.cubic-animation-wrapper i:nth-child(8) {
  animation-delay: .7s; }

.cubic-animation-wrapper i:nth-child(9) {
  animation-delay: .8s; }

.cubic-animation-wrapper i:nth-child(10) {
  animation-delay: .9s; }

.anim-delay-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 2rem auto;
  padding: 3rem 0; }

@keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%; }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0; }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%; }
  75% {
    transform: translate(0%, 150%) scale(0.5);
    border-radius: 0; } }
  .anim-delay-wrapper span {
    display: block;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    animation: run 3s infinite ease-in-out; }
    .anim-delay-wrapper span.one {
      background: #F3B222;
      animation-delay: 4s; }
    .anim-delay-wrapper span.two {
      background: #F0653E;
      animation-delay: 2.5s; }
    .anim-delay-wrapper span.three {
      background: #B9C0C0;
      animation-delay: 1.5s; }
    .anim-delay-wrapper span.four {
      background: #8F7473; }

.catch-animation-wrap {
  width: 100%;
  line-height: 50px;
  padding: 3rem 0;
  cursor: pointer;
  user-select: none; }
  .catch-animation-wrap:active .catch-ellips {
    animation-play-state: paused;
    opacity: 1; }

@keyframes catch-anim {
  0% {
    transform: translateX(0); }
  10% {
    box-shadow: 1px 1px 15px rgba(50, 100, 255, 0.9); }
  50% {
    height: 15px; }
  100% {
    transform: translateX(1000px);
    height: 1px; } }
  .catch-animation-wrap .catch-ellips {
    opacity: .5;
    display: inline-block;
    width: 30px;
    height: 10px;
    border-radius: 50%;
    background-color: #0B1B48;
    animation: catch-anim .4s ease-in-out alternate infinite; }

.transform-samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 13px;
  text-align: center;
  color: #fff; }

.transform-wrap {
  margin: 1rem;
  background: rgba(228, 225, 228, 0.5); }
  .transform-wrap .trans-element {
    width: 170px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out; }

.one, .four, .seven, .ten {
  background: rgba(135, 86, 120, 0.4); }

.one:hover {
  transform: translateX(20px); }

.two, .five, .eight, .eleven {
  background: rgba(0, 228, 246, 0.4); }

.two:hover {
  transform: translateY(-20px); }

.three, .six, .nine {
  background: rgba(255, 153, 0, 0.4); }

.three:hover {
  transform: translate(-20px, 20px); }

.four:hover {
  transform: scaleX(-1); }

.five:hover {
  transform: scaleY(1.2); }

.six:hover {
  transform: scale(1.2, 0.5); }

.seven:hover {
  transform: rotate(720deg); }

.eight:hover {
  transform: skewX(20deg); }

.nine:hover {
  transform: skewY(-20deg); }

.ten:hover {
  transform: skew(-20deg, 20deg); }

.eleven:hover {
  transform: matrix(1.2, 0, 0.5, 1.2, 50, 0); }

.origin-sample {
  width: 120px;
  height: 120px;
  background: #E6E0CA;
  display: inline-block;
  margin: 130px; }

.origin-wrapper {
  width: 80%;
  margin: auto; }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.animated-origin {
  width: 120px;
  height: 120px;
  color: white;
  text-align: center;
  line-height: 120px;
  animation: rotation 6s linear infinite; }

.element-1 {
  background: #FFCC00; }

.element-2 {
  background: #FF9900;
  transform-origin: top left; }

.element-3 {
  background: #875678;
  transform-origin: 110% 110%; }

.element-4 {
  background: #00E4F6;
  transform-origin: 50px 50px; }

.scene {
  position: relative;
  display: flex;
  justify-content: center;
  perspective: 1200px;
  perspective-origin: 50% -100px;
  width: 50%;
  height: 300px;
  margin: auto;
  padding: 1rem 0; }

@keyframes rotator {
  0% {
    transform: rotateY(0deg) rotateX(360deg); }
  25% {
    transform: rotateY(90deg) rotateX(270deg); }
  50% {
    transform: rotateY(120deg) rotateX(180deg); }
  75% {
    transform: rotateY(270deg) rotateX(90deg); }
  100% {
    transform: rotateY(360deg) rotateX(0deg); } }
  .scene .cube-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    animation: rotator 10s ease-in-out infinite; }
    .scene .cube-wrapper .triangle {
      position: absolute;
      top: 75px;
      margin: auto;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5);
      background-image: radial-gradient(white 50%, transparent 50%, black 200%);
      transform: rotateZ(45deg);
      animation: rotator 5s ease-in-out infinite; }
    .scene .cube-wrapper figure {
      position: absolute;
      width: 200px;
      height: 200px;
      transform-origin: 50% 50% 0;
      opacity: .5; }
      .scene .cube-wrapper figure.front {
        background-color: #bb12ff;
        transform: translateZ(100px); }
      .scene .cube-wrapper figure.back {
        background-color: #F0653E;
        transform: rotateY(180deg) translateZ(100px); }
      .scene .cube-wrapper figure.top {
        background-color: #2C2D30;
        transform: rotateX(90deg) translateZ(100px); }
      .scene .cube-wrapper figure.bottom {
        background-color: #ff8500;
        transform: rotateX(-90deg) translateZ(100px); }
      .scene .cube-wrapper figure.left {
        background-color: #006699;
        transform: rotateY(-90deg) translateZ(100px); }
      .scene .cube-wrapper figure.right {
        background-color: #f44336;
        transform: rotateY(90deg) translateZ(100px); }

.home-card {
  width: 30rem;
  height: 21rem;
  padding: 2rem;
  box-shadow: 3px 8px 29px -6px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 2px; }
  .home-card_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0; }

.home-image {
  width: 30%;
  margin: auto 1rem; }

.card-title {
  position: relative;
  color: #4d4d52;
  margin-top: .25rem;
  font-weight: 800; }
  .card-title:before {
    content: "";
    position: absolute;
    top: 0;
    left: -2.1rem;
    display: block;
    width: 4px;
    height: 110%;
    background-color: #009BD9;
    border-radius: 20%; }

.theme-list {
  list-style: none;
  padding: 0;
  max-height: 80%;
  display: block;
  overflow: auto;
  overflow-x: hidden; }

.theme-item {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  line-height: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
  .theme-item::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    width: 100%;
    height: 2px;
    background: #FF6421; }
  .theme-item:hover {
    color: #000; }
    .theme-item:hover::before {
      transform: translateX(0); }
  .theme-item a {
    display: block;
    width: 100%;
    height: auto;
    text-align: left; }

figure.code {
  display: block;
  margin: 1rem auto;
  background-color: #333333;
  background-image: linear-gradient(to bottom, #333333, #000000);
  padding: 1em 1em 2em 4em;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  white-space: pre;
  line-height: 1.6rem;
  margin-bottom: 40px;
  box-shadow: 3px 8px 29px -6px rgba(0, 0, 0, 0.5);
  transition: box-shadow 200ms ease-in-out;
  cursor: pointer; }
  figure.code::before {
    content: "css";
    float: right;
    color: #000;
    text-shadow: -1px 1px 0 #696969;
    font-size: 1.7em; }
  figure.code:hover {
    box-shadow: 0 0 0 0; }

.for-hover, .for-active {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer; }
  .for-hover:hover, .for-active:hover {
    border-color: green;
    color: green; }

.for-active:active {
  border-color: red;
  color: red; }

.flex-toggler {
  display: flex;
  justify-content: space-around;
  font-size: 15px; }
  .flex-toggler a {
    color: blue; }
  .flex-toggler a:focus, .flex-toggler a:active {
    color: #00e892;
    text-decoration: underline; }
  .flex-togglerGrow-1 {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #fff; }
    .flex-togglerGrow-1 a {
      color: blue; }
    .flex-togglerGrow-1 a:focus, .flex-togglerGrow-1 a:active {
      color: #00e892;
      text-decoration: underline; }
  .flex-togglerGrow-2 {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #fff; }
    .flex-togglerGrow-2 a {
      color: blue; }
    .flex-togglerGrow-2 a:focus, .flex-togglerGrow-2 a:active {
      color: #00e892;
      text-decoration: underline; }
  .flex-togglerGrow-3 {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #fff; }
    .flex-togglerGrow-3 a {
      color: blue; }
    .flex-togglerGrow-3 a:focus, .flex-togglerGrow-3 a:active {
      color: #00e892;
      text-decoration: underline; }

.flex-layout {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 10rem; }

.flex-container {
  width: 80%;
  display: flex;
  margin: 2rem auto;
  padding: .3rem;
  border-radius: 7px;
  background-color: rgba(200, 200, 200, 0.3);
  box-shadow: 3px 8px 29px -6px rgba(0, 0, 0, 0.5); }
  .flex-container.unsized {
    width: auto; }

.flex-element {
  font-size: .7rem;
  margin: .3rem;
  color: #fff;
  font-weight: 700;
  padding: .4rem;
  line-height: 1rem;
  border-radius: 7px; }
  .flex-element:nth-child(2n) {
    background-color: #00a19b; }
  .flex-element:nth-child(2n-1) {
    background-color: #f44336; }
  .flex-element.thin {
    flex-basis: 150px; }
  .flex-element.wide {
    flex-basis: 400px; }

.measure-wrap {
  max-width: 1000px;
  margin: auto; }

.aside-bar {
  position: fixed;
  top: 20%;
  right: -172px;
  width: 170px;
  height: 400px;
  padding: 1rem;
  box-shadow: 3px 8px 29px -6px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  background-color: #f6f7f9;
  transition: right 200ms linear;
  cursor: pointer;
  font-size: 13px; }
  .aside-bar:hover {
    right: -10px; }
    .aside-bar:hover .slide-btn {
      opacity: 0; }

.slide-btn {
  position: absolute;
  top: 50%;
  left: -35px;
  background-color: #009BD9;
  height: 8.5rem;
  width: 35px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  transform: translateY(-50%);
  transition: opacity 100ms ease-in-out; }
  .slide-btn .fa {
    display: block;
    color: #fff;
    line-height: 130px;
    text-align: center; }

.animations {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 100px; }

.anim-subtitle {
  perspective: 300px;
  width: 300px;
  margin: 2rem auto;
  font-size: 28px;
  text-align: center;
  font-weight: 700; }
  .anim-subtitle span {
    display: block;
    animation: d-title 4s ease-in-out infinite;
    overflow: hidden; }

@keyframes d-title {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(360deg); } }

.perspective-container-1, .perspective-container-2 {
  perspective: 900px;
  width: 80%;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  border: 2px solid rgba(100, 100, 100, 0.5); }
  .perspective-container-1 .perspective-example, .perspective-container-2 .perspective-example {
    width: 220px;
    height: 120px;
    background-color: #006699;
    transform: rotateX(-120deg); }

.perspective-container-2 {
  perspective-origin: 10% 10%; }
  .perspective-container-2 .perspective-example {
    width: 220px;
    height: 120px;
    background-color: #00E4F6;
    transform: rotateX(50deg); }

.block-style {
  max-width: 1100px;
  margin: 0 auto 100px; }

.back-exemp {
  width: 200px;
  height: 200px;
  background-color: #00a19b;
  margin: auto;
  transition: all .25s ease-out; }
  .back-exemp.border {
    border: 50px solid transparent;
    padding: 50px;
    border-image: url("../img/s1.png"); }

#over {
  padding: 15px;
  font-size: 17px; }
  #over::before {
    content: '!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!';
    display: block; }

#brepet {
  background-image: url("../img/s1.png");
  width: 250px; }

#bsize {
  background-image: url("../img/s1.png");
  background-repeat: no-repeat;
  width: 250px; }

#battach {
  background: #00a19b url("../img/b.png") no-repeat;
  color: red;
  overflow: auto;
  background-size: cover; }
  #battach::before {
    content: 'asdasdasdasadasdsdasdasdsadasdasdasdasdasdasdsadasdasdsadsa';
    display: block; }

#bclip {
  padding: 20px;
  background: url("../img/b2.png") no-repeat;
  font-size: 13px;
  border: 10px solid rgba(0, 0, 0, 0.5); }

#borig {
  padding: 20px;
  background: url("../img/b2.png") no-repeat;
  font-size: 13px;
  border: 10px solid rgba(0, 0, 0, 0.5); }

#opa {
  background: url("../img/b2.png") no-repeat;
  padding: 50px 0; }

.bgradient {
  height: 70px;
  color: #fff;
  margin-bottom: 10px; }
  .bgradient.radial {
    height: 150px; }

.radio-repeat {
  color: orange;
  cursor: pointer; }
  .radio-repeat input {
    margin-right: 10px;
    outline: none;
    vertical-align: middle; }

.border-s {
  display: inline-block;
  background-color: red;
  border-width: 5px;
  border-color: black;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  margin: 10px; }

.flex-image {
  display: block;
  width: 100%;
  height: auto; }

.position .visual {
  border: solid #6AC5AC 3px;
  position: relative;
  padding: 16px; }
  .position .visual.before-align::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .position .visual code {
    background-color: #d7d7d7; }
  .position .visual .label {
    position: absolute;
    background-color: #6AC5AC;
    color: #414142;
    line-height: 1em;
    top: 0;
    left: 0;
    padding: 0 3px 3px 0; }
  .position .visual .label:last-of-type {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0; }

.position .visual2 {
  border: solid #D64078 3px;
  position: relative;
  padding: 16px; }
  .position .visual2.absolute {
    position: absolute;
    top: 0;
    right: 100px;
    background-color: #faebd7; }
  .position .visual2 code {
    background-color: #d7d7d7; }
  .position .visual2 .label {
    position: absolute;
    background-color: #D64078;
    color: #414142;
    line-height: 1em;
    top: 0;
    left: 0;
    padding: 0 3px 3px 0; }
  .position .visual2 .label:last-of-type {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0; }

.position .fixed {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #a5ffa9; }

.position p code {
  background-color: #d7d7d7; }

.position .inner {
  border: 2px solid red;
  padding: 3px 10px; }

.position .vimg {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #D64078; }

.position .vertical-text {
  border: 2px solid #6ac5ac;
  padding: 20px; }

.indexz {
  margin-bottom: 100px; }
  .indexz .z-container {
    font-size: 0; }
  .indexz .z-wrap {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 300px;
    border: 2px solid black;
    font-size: initial;
    background-color: rgba(0, 187, 124, 0.47); }
    .indexz .z-wrap:last-child {
      background-color: rgba(0, 86, 166, 0.4); }
      .indexz .z-wrap:last-child .z1 {
        z-index: 1; }
  .indexz .z {
    position: absolute;
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    font-size: initial; }
  .indexz .z1 {
    background-color: red;
    top: 20px;
    left: 20px; }
  .indexz .z2 {
    background-color: blue;
    top: 60px;
    left: 60px; }
  .indexz .z3 {
    background-color: green;
    top: 100px;
    left: 100px; }
  .indexz .z4 {
    background-color: orange;
    bottom: 0;
    left: -25px; }

.float-block {
  border: 1px solid red;
  padding: 20px;
  margin-bottom: 60px; }
  .float-block h3 {
    margin-top: 0; }
  .float-block p {
    background-color: #a8e6aa; }
    .float-block p:last-child {
      margin-bottom: 0; }

.f-left {
  float: left;
  border: 1px solid blue;
  margin-right: 20px; }

.f-right {
  float: right;
  border: 1px solid blue;
  margin: 10px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0; }

.float-blocks {
  background-color: #2c87ce;
  overflow: hidden;
  width: 350px;
  margin: auto; }
  .float-blocks .blocks {
    width: 100px;
    height: 100px;
    float: left;
    background-color: #4caf50;
    border: 1px solid red;
    margin: 5px; }
    .float-blocks .blocks.large {
      height: 120px; }
