main.main-content
    div.block-style
        h1.main-title Стилізація блоків
        table.table
            thead
                tr
                    th Властивість
                    th Значення
                    th Приклад
            tbody
                tr
                    td(colspan='3') background: background-color || background-image || background-repeat
                        | || background-attachment || background-position

                tr
                  td background-attachment: fixed / scroll / local;
                  td встановлює, чи буде прокручуватися фонове зображення разом з вмістом елементу.<br>
                    | fixed -       <br>
                    | scroll -    <br>
                    | local -   <br>
                  td
                tr
                  td background-color: #fff / rgba(0,0,0, 0.3) / transparent
                  td Визначає колір фону елемента
                  td

                tr
                    td background-image: url("url");
                    td Встановлює фонове зображення для елемента.
                    td
                tr
                    td background-repeat: no-repeat / repeat / repeat-x / repeat-y / space / round;
                    td Визначає, як буде повторюватися фонове зображення, встановлене за допомогою властивості background-image. <br>
                       | repeat - фонове зображення повторюється по горизонталі і вертикалі (за замовчуванням) <br>
                       | no-repeat - встановлює одне фонове зображення в елементі без його повторень, положення якого визначається властивістю background-position (за замовчуванням в лівому верхньому куті)<br>
                       | repeat-x - фоновий малюнок повторюється тільки по горизонталі<br>
                       | repeat-y - фоновий малюнок повторюється тільки по вертикалі<br>
                       | space - зображення повторюється стільки раз, щоб повністю заповнити область; якщо це не вдається, між картинками додається порожній простір.<br>
                       | round - зображення повторюється так, щоб в області помістилося ціле число малюнків; якщо це не вдається зробити, то фонові малюнки масштабируются.
                    td div#brepet
                tr
                    td
                    td
                    td
                tr
                    td
                    td
                    td
                tr
                    td
                    td
                    td
                tr
                    td
                    td
                    td