main
    .container
        .main-content
            h1(style="text-align: center") h1-h6
            |
            div(style="display: flex; flex-wrap: wrap; width: 1000px; margin: auto")
                div(style="width: 45%; margin: 20px 15px;")
                    .blockH
                        .blockHIn -
                        |
                        h1(style="background-color: #fff") h1
                        |
                        .blockHIn -
                    |                 h1 {
                    br
                    |                  
                    span.spanOrange display:
                    |  block;
                    br
                    |                  
                    span.spanOrange font-size:
                    |  2em;
                    span.spanRed (32px)
                    br
                    |                  
                    span.spanOrange margin-top:
                    |  0.67em;
                    span.spanRed (21.44px)
                    br
                    |                  
                    span.spanOrange margin-bottom:
                    |  0.67em;
                    span.spanRed (21.44px)
                    br
                    |                  
                    span.spanOrange margin-left:
                    |  0;
                    br
                    |                  
                    span.spanOrange margin-right:
                    |  0;
                    br
                    |                  
                    span.spanOrange font-weight:
                    |  bold;
                    br
                    |                 }
                |
                div(style="width: 45%; margin: 20px 15px;")
                    .blockH
                        .blockHIn -
                        |
                        h2(style="background-color: #fff") h2
                        |
                        .blockHIn -
                    |                 h2 {
                    br
                    |                  
                    span.spanOrange display:
                    |  block;
                    br
                    |                  
                    span.spanOrange font-size:
                    |  1.5em;
                    span.spanRed (24px)
                    br
                    |                  
                    span.spanOrange margin-top:
                    |  0.83em;
                    span.spanRed (19.92px)
                    br
                    |                  
                    span.spanOrange margin-bottom:
                    |  0.83em;
                    span.spanRed (19.92px)
                    br
                    |                  
                    span.spanOrange margin-left:
                    |  0;
                    br
                    |                  
                    span.spanOrange margin-right:
                    |  0;
                    br
                    |                  
                    span.spanOrange font-weight:
                    |  bold;
                    br
                    |                 }
                |
                div(style="width: 45%; margin: 20px 15px;")
                    .blockH
                        .blockHIn -
                        |
                        h3(style="background-color: #fff") h3
                        |
                        .blockHIn -
                    |                 h3 {
                    br
                    |                  
                    span.spanOrange display:
                    |  block;
                    br
                    |                  
                    span.spanOrange font-size:
                    |  1.17em;
                    span.spanRed (18.72px)
                    br
                    |                  
                    span.spanOrange margin-top:
                    |  1em;
                    span.spanRed (18.72px)
                    br
                    |                  
                    span.spanOrange margin-bottom:
                    |  1em;
                    span.spanRed (18.72px)
                    br
                    |                  
                    span.spanOrange margin-left:
                    |  0;
                    br
                    |                  
                    span.spanOrange margin-right:
                    |  0;
                    br
                    |                  
                    span.spanOrange font-weight:
                    |  bold;
                    br
                    |                 }
                |
                div(style="width: 45%; margin: 20px 15px;")
                    .blockH
                        .blockHIn -
                        |
                        h4(style="background-color: #fff") h4
                        |
                        .blockHIn -
                    |                 h4 {
                    br
                    |                  
                    span.spanOrange display:
                    |  block;
                    br
                    |                  
                    span.spanOrange font-size:
                    |  1em;
                    span.spanRed (16px)
                    br
                    |                  
                    span.spanOrange margin-top:
                    |  1.33em;
                    span.spanRed (21.28px)
                    br
                    |                  
                    span.spanOrange margin-bottom:
                    |  1.33em;
                    span.spanRed (21.28px)
                    br
                    |                  
                    span.spanOrange margin-left:
                    |  0;
                    br
                    |                  
                    span.spanOrange margin-right:
                    |  0;
                    br
                    |                  
                    span.spanOrange font-weight:
                    |  bold;
                    br
                    |                 }
                |
                div(style="width: 45%; margin: 20px 15px;")
                    .blockH
                        .blockHIn -
                        |
                        h5(style="background-color: #fff") h5
                        |
                        .blockHIn -
                    |                 h5 {
                    br
                    |                  
                    span.spanOrange display:
                    |  block;
                    br
                    |                  
                    span.spanOrange font-size:
                    |  .83em;
                    span.spanRed (13.28px)
                    br
                    |                  
                    span.spanOrange margin-top:
                    |  1.67em;
                    span.spanRed (22.17px)
                    br
                    |                  
                    span.spanOrange margin-bottom:
                    |  1.67em;
                    span.spanRed (22.17px)
                    br
                    |                  
                    span.spanOrange margin-left:
                    |  0;
                    br
                    |                  
                    span.spanOrange margin-right:
                    |  0;
                    br
                    |                  
                    span.spanOrange font-weight:
                    |  bold;
                    br
                    |                 }
                |
                div(style="width: 45%; margin: 20px 15px;")
                    .blockH
                        .blockHIn -
                        |
                        h6(style="background-color: #fff") h6
                        |
                        .blockHIn -
                    |                 h6 {
                    br
                    |                  
                    span.spanOrange display:
                    |  block;
                    br
                    |                  
                    span.spanOrange font-size:
                    |  .67em;
                    span.spanRed (10.72px)
                    br
                    |                  
                    span.spanOrange margin-top:
                    |  2.33em;
                    span.spanRed (24.97px)
                    br
                    |                  
                    span.spanOrange margin-bottom:
                    |  2.33em;
                    span.spanRed (24.97px)
                    br
                    |                  
                    span.spanOrange margin-left:
                    |  0;
                    br
                    |                  
                    span.spanOrange margin-right:
                    |  0;
                    br
                    |                  
                    span.spanOrange font-weight:
                    |  bold;
                    br
                    |                 }
