main.main-content.home
    .container
        h1.title.home-title
            | Welcome to our HTML/CSS tutorial
        h2.subtitle Lorem ipsum dolor
        .home-card_wrapper
            .home-card
                h2.card-title
                    a(href="./html/html/index.html")
                        | HTML
                .scroll-wrap.home-scroll.scrollBar
                    ul.theme-list
                        li.theme-item
                            a(href="./html/html/a.html")
                                | Ссилка
                        li.theme-item
                            a(href="./html/html/attr.html")
                                | Атрибути
                        li.theme-item
                            a(href="./html/html/h.html")
                                | Заголовки
                        li.theme-item
                            a(href="./html/html/img-audio-video.html")
                                | Аудіо/Відео
                        li.theme-item
                            a(href="./html/html/index.html")
                                | Структура
                        li.theme-item
                            a(href="./html/html/input-textarea-btn.html")
                                | Інпути/Кнопки
                        li.theme-item
                            a(href="./html/html/link-script.html")
                                | Зовнішнє підключення/Тег <code>&lt;script&gt;</code>
                        li.theme-item
                            a(href="./html/html/lists.html")
                                | Списки
                        li.theme-item
                            a(href="./html/html/meta.html")
                                | <code>&lt;meta&gt;</code>
                        li.theme-item
                            a(href="./html/html/semantics.html")
                                | Семантика
                        li.theme-item
                            a(href="./html/html/symbols.html")
                                | Сімволи Unicode
                        li.theme-item
                            a(href="./html/html/table-form.html")
                                | Форми/Таблиці
                        li.theme-item
                            a(href="./html/html/tags.html")
                                | Теги

            img(src='./img/fon1.png').home-image

            .home-card
                h2.card-title
                    a(href="./css_boxmodel.html")
                        | CSS
                .scroll-wrap.home-scroll.scrollBar
                    ul.theme-list
                        li.theme-item
                            a(href="./css_boxmodel.html")
                                | CSS Box Model
                        li.theme-item
                            a(href="./measurement.html")
                                | Одиниці виміру
                        li.theme-item
                            a(href="./selectors.html")
                                | Селектори, Псевдокласи
                        li.theme-item
                            a(href="./position.html")
                                | Позиціонування
                        li.theme-item
                            a(href="./fonts.html")
                                | Стилізація тексту
                        li.theme-item
                            a(href="./block_style.html")
                                | Стилізація елементів
                        li.theme-item
                            a(href="./media.html")
                                | @media
                        li.theme-item
                            a(href="./transform.html")
                                | Трансформація
                        li.theme-item
                            a(href="./animations.html")
                                | Анімація
                        li.theme-item
                            a(href="./flexbox.html")
                                | flexbox
                        li.theme-item
                            a(href="#")
                                | Display
                        li.theme-item
                            a(href="#")
                                | Префікси
                        li.theme-item
                            a(href="#")
                                | Спрайти
                        li.theme-item
                            a(href="#")
                                | SVG




