main.main-content
    .container
        h1.title.home-title
            | Welcome to our HTML/CSS tutorial
        h2.subtitle Lorem ipsum dolor
        .home-card_wrapper
            .home-card
                h2.card-title
                    a(href="html/index.html")
                        | HTML
                ul.theme-list(rel='slickScroll')
                    li.theme-item
                        a(href="#")
                            |
                    li.theme-item
                        a(href="#")
                            |
                    li.theme-item
                        a(href="#")
                            |
                    li.theme-item
                        a(href="#")
                            |
                    li.theme-item
                        a(href="#")
                            |
                    li.theme-item
                        a(href="#")
                            |

            img(src='./img/fon1.png').home-image

            .home-card
                h2.card-title
                    a(href="./css_boxmodel.html")
                        | CSS
                ul.theme-list(rel='slickScroll')
                    li.theme-item
                        a(href="./css_boxmodel.html")
                            | CSS Box Model
                    li.theme-item
                        a(href="./measurement.html")
                            | Одиниці виміру
                    li.theme-item
                        a(href="./selectors.html")
                            | Селектори, Псевдокласи
                    li.theme-item
                        a(href="./position.html")
                            | Позиціонування
                    li.theme-item
                        a(href="./fonts.html")
                            | Стилізація тексту
                    li.theme-item
                        a(href="./block_style.html")
                            | Стилізація елементів
                    li.theme-item
                        a(href="./media.html")
                            | @media
                    li.theme-item
                        a(href="./transform.html")
                            | Трансформація
                    li.theme-item
                        a(href="./animations.html")
                            | Анімація
                    li.theme-item
                        a(href="./flexbox.html")
                            | flexbox
                    li.theme-item
                        a(href="#")
                            | Display
                    li.theme-item
                        a(href="#")
                            | Префікси
                    li.theme-item
                        a(href="#")
                            | Спрайти
                    li.theme-item
                        a(href="#")
                            | SVG




