main.main-content
    .selectors
        h1.title Селектори

        .selector-example
            span .class {<br>&emsp;color: red;<br>&emsp;font-size: 18px;<br>}
            span p.class {<br>&emsp;color: green;<br>&emsp;font-size: 16px;<br>}

        table.table.striped
            colgroup
                col(width='180px')
                col
                col

            tr
                th Селектор
                th Значення
            tr
                td *
                td всі елементи
            tr
                td p
                td елемент з таким тегом
            tr
                td .class
                td елемент з таким класом
            tr
                td #id
                td елемент з таким id



        table.table.striped
            tbody
                tr
                    th(colspan="2") Селектори по атрибуту
                tr
                    td [attr]
                    td селектор по атрибуту
                tr
                    td [attr="value"]
                    td атрибут строго дорівнює value
                tr
                    td [attr^="val"]
                    td починається з val, наприклад "value"
                tr
                    td [attr|="val"]
                    td рівний val або починається з val-, наприклад рівний "val-1"
                tr
                    td [attr*="val"]
                    td містить підстроку val, наприклад рівний "myvalue"
                tr
                    td [attr~="val"]
                    td містить val як одно із значень через пробіл, наприклад "edit val"
                tr
                    td [attr$="val"]
                    td закінчується на val, наприклад рівний "myval".


        table.table.striped
            colgroup
                col(width='150px')
                col
                col
            tbody
                tr
                    th(colspan="3") Псевдокласи
                tr
                    td :hover
                    td визначає стиль елементу при наведенні на нього курсора миші
                    td <span class='for-hover'>Hover me!</span>
                tr
                    td :active
                    td визначає стиль активного елементу. Це такий стан елемента, який відбувається між клацанням і відпуском кнопки миші
                    td <span class='for-active'>Activate me!</span>

                tr
                    th(colspan="3") При виборі елемента можна вказати його місце серед сусідів.
                tr
                    td :first-child
                    td перший нащадок свого батька
                    td
                        ul.child.child-first
                            li Перший
                            li Другий
                            li Третій
                            li Четвертий
                tr
                    td :last-child
                    td останній нащадок свого батька
                    td
                        ul.child.child-last
                            li Перший
                            li Другий
                            li Третій
                            li Четвертий

                tr
                    td :only-child
                    td єдиний нащадок свого батька, сусідніх елементів немає
                    td
                tr
                    td :nth-child(a)
                    td нащадок номер a свого батька, наприклад: nth-child(2) - другий нащадок. Нумерація починається з 1.
                    td
                        ul.child.child-num
                            li Перший
                            li Другий
                            li Третій
                            li Четвертий
                tr
                    td :nth-child(an+b)<br>:nth-child(odd)<br>:nth-child(even)
                    td розширення попереднього селектора через зазначення номера нащадка формулою, де a, b - константи, а під n мається на увазі ціле число від 1 до &infin;. Цей псевдоклас буде фільтрувати всі елементи, які потрапляють під формулу при будь-якому n. Наприклад: - :nth-child(2n) дасть елементи номер 2, 4, 6 ..., тобто парні. :nth-child(2n + 1) дасть елементи номер 1, 3 ..., тобто непарні. :nth-child(3n + 2) дасть елементи номер 2, 5, 8 і так далі.<br>odd - не парні<br>even - парні
                    td
                tr
                    td :nth-last-child(a)
                    td нащадок номер a свого батька з кінця, наприклад: nth-last-child(2) - другий нащадок починаючи з кінця (тобто перед-останній)
                    td
                        ul.child.child-num-last
                            li Перший
                            li Другий
                            li Третій
                            li Четвертий
                tr
                    th(colspan="3") Є аналогічні псевдокласи, які враховують не всіх сусідів, а тільки з тим же тегом:
                tr
                    td :first-of-type
                    td перший нащадок свого батька по типу тега
                    td
                tr
                    td :last-of-type
                    td останній нащадок свого батька по типу тега
                    td
                tr
                    td :only-of-type
                    td єдиний нащадок свого батька по типу тега, сусідніх елементів з таким типом тега немає
                    td
                tr
                    td :nth-of-type(a)
                    td нащадок номер a свого батька по типу тега, наприклад: nth-child(2) - другий нащадок не враховуючи нащадків інших типів. Нумерація починається з 1.
                    td
                tr
                    td :nth-last-of-type(a)
                    td нащадок номер a свого батька по типу з кінця, наприклад: nth-child(2) - другий нащадок починаючи з кінця (тобто перед-останній по типу тега). Нумерація починається з 1.
                    td
                tr
                    th(colspan='3') Специфічні псевдокласи
                tr
                    td :not()
                    td задає правила стилів для елементів, які не містять вказаний селектор. Наприклад li:not(:last-child) - всі теги li крім останього. Не можна використовувати :not(:not(...))
                    td
                        ul.child.child-not
                            li Перший
                            li Другий
                            li Третій
                            li Четвертий
                tr
                    td :empty
                    td представляє порожні елементи такі, які не містять дочірніх елементів, тексту або пробілів. Наприклад, &lt;p&gt;&lt;/p&gt; є порожнім елементом, а &lt;p&gt; &nbsp; &lt;p&gt; або &lt;p&gt; еге &lt;/p&gt; вже ні.
                    td
                tr
                    td :lang(en)
                    td можна задавати певні стилі, характерні для різних мов, наприклад, вид лапок в цитатах.
                    td
                        ul.child.child-lang
                            li(lang='en') English
                            li(lang='ua') Український
                tr
                    th(colspan='3') Для ссилок
                tr
                    td :link
                    td застосовується до посилань, які ще не відвідувалися користувачем, і задає для них стильове оформлення.
                    td
                tr
                    td :visited
                    td застосовується до посилань, вже відвідані користувачем, і задає для них стильове оформлення.
                    td
                tr
                    th(colspan='3') Для input, select, textarea, button
                tr
                    td :checked
                    td застосовується до checkbox, radio і пункти списку option, коли вони знаходяться в положенні «включено». Перемикання елементів в такий стан відбувається за допомогою атрибута checked елемента &lt;input&gt; або користувачем.
                    td
                tr
                    td :disabled
                    td застосування стилю до заблокованих елементів форм. Такі елементи не можуть отримати фокус, бути натисненими або активовані, в текстових полях не можна набирати текст.
                    td
                tr
                    td :enabled
                    td застосування стилю до доступних (не заблокованих) елементів. За замовчуванням, всі елементи форм є доступними, якщо в коді HTML до них не додається атрибут disabled.
                    td
                tr
                    td :in-range
                    td застосовується до елементів форм, у яких введене користувачем значення знаходиться в заздалегідь заданому діапазоні. Сам діапазон встановлюється за допомогою атрибутів min і max, вони, відповідно, ставлять мінімальне і максимальне значення.
                    td
                tr
                    td :optional
                    td застосовує стильові правила до елементу &lt;input&gt;, у якого не заданий атрибут required. Таким чином: optional застосовується до необов'язкових полів форми.
                    td
                tr
                    td :out-of-range
                    td застосовується до полів форм, у яких введене користувачем значення виходить із заданого діапазону. Псевдоклас працює тільки для тих полів, де користувач може сам ввести значення, навіть не дивлячись на обмеження накладені атрибутами min і max.
                    td
                tr
                    td :read-only
                    td застосовується до полів форми, у яких заданий атрибут readonly. Таке поле не може бути модифіковано і отримати фокус.
                    td
                tr
                    td :read-write
                    td застосовується до полів форми, доступних для зміни. Псевдоклас: read-write є протилежним за своєю дією: readonly
                    td
                tr
                    td :required
                    td застосовує стильові правила до елементу, у якого встановлений атрибут required
                    td
                tr
                    td :target
                    td Для переходу до вибраного фрагменту документа, в адресі пишеться символ # і вказується ім'я ідентифікатора. Наприклад, в адресі http://www.w3.org/TR/css3-selectors/#target-pseudo відбувається перехід до елементу, атрибут id якого заданий як target-pseudo. Такий запис адреси називається «цільовий елемент». Псевдоклас: target застосовується до цільового елементу, іншими словами, до ідентифікатора, який вказаний в адресному рядку браузера.<br><a href='#target'>To target</a>
                    td <span id='target'>Target</span>
                tr
                    td :valid
                    td Застосовується до полів форми, вміст яких проходить перевірку в браузері на відповідність зазначеного типу. Наприклад, для type = "number" вводиться число, а не букви, для type = "email" коректну адресу електронної пошти.
                    td
                tr
                    td :indeterminate
                    td Псевдоклас: indeterminate задає стиль для перемикачів, коли вони знаходяться в невизначеному стані. Наприклад, якщо жоден перемикач НЕ позначений, то вони знаходяться в не визначеному стані. У реальності, стиль застосовується тільки до елементів, у яких DOM-атрибут: indeterminate через JavaScript встановлений в значення true. Також цей псевдоклас використовується деякими браузерами для елемента progress.
                    td
                tr
                    td :invalid
                    td Застосовується до полів форми, вміст яких не відповідає вказаним типом. Наприклад, для type = "number" має бути введені число, а не букви, для type = "email" коректну адресу електронної пошти.
                    td


                tr
                    th(colspan='3') Комбінації селекторів

                tr
                    td .class1.class2
                    td До будь-якого елементу одночасно можна додати кілька класів, перераховуючи їх в атрибуті class через пробіл. В цьому випадку до елементу застосовується стиль, описаний в правилах для кожного класу. Оскільки при додаванні декількох класів вони можуть містити однакові стильові властивості, але з різними значеннями, то береться значення у класу, який описаний в коді нижче.
                    td .c3{color: blue;} .c2 {color: red;}<br>.c1 {color: green;}   <span style='white-space: nowrap;'>&lt;p class='c1 c2 c3&gt;</span><br>&emsp;<span style='color: green;'>Test</span><br> &lt;/p&gt;

                tr
                    td A &emsp; B
                    td задати стиль для B тільки коли він розташовується всередині контейнера A. Таким чином можна встановити стиль для елемента, який знаходиться всередині іншого.

                tr
                    td A > B
                    td Стиль застосовується до елементу B, тільки коли він є дочірнім для елемента A.
                    td
                tr
                    td A + B
                    td стиль застосовується до елемента B який йде безпосереднь після елементу А на одному рівні вкладеності
                    td
                tr
                    td A ~ B
                    td стиль застосовується до всіх елементів B які йдуть після елементу А на одному рівні вкладеності
                    td

        h2.title Каскадність (приорітет селекторів)

        table.table.striped
            tr
                th Селектор
                th Приорітет
                th
            tr
                td *
                td 0/0/0/0/0.5
                td
            tr
                td тег
                td 0/0/0/0/1
                td div p = 0/0/0/0/2
            tr
                td клас, псевдоклас
                td 0/0/0/1/0
                td .class:first-child = 0/0/0/2/0<br>p:first-child = 0/0/0/1/1<br>.class1 &gt; .class2 = 0/0/0/2/0
            tr
                td id
                td 0/0/1/0/0
                td id .class = 0/0/1/1/0
            tr
                td атрибут style
                td 0/1/0/0/0
                td
            tr
                td !important
                td 1/0/0/0/0
                td



        h2.title Псевдоелементи
        ul
            li ::before
            li ::after
            li ::first-letter
            li ::first-line
            li ::selection

        h2 ::before & ::after
        p Псевдоелементи: before та: after дозволяють додавати вміст (стилі) до і після елемента, до якого були застосовані.

        figure div::before {<br>
            | &emsp;content: "Що це за хрень";<br>
            | }<br><br>
            | div::after {<br>
            | &emsp;content: "Івріт походу";<br>
            | }

        .iverit
            span ארמית עתיקה במובן הצר היא השפה שקיימה לפני היווצרות הפרנק השוויצרי הסהר הפורה. לפני העלייה הגרנדיוזית שלו, הארמית היתה רק שפתן של מדינות-עיר של הארמים בסוריה: דמשק, חמה, ארפדתל רפעת הנוכח

        p Обовязкова властивість <span class='orange-text'>content</span>: ""; може приймати деякі параметри:<br>

        table.table.striped
            colgroup
                col( width='150px')
                col
                col
            tr
                td normal
                td значення за замовчуванням. Встановлює вміст, якщо вказано, до нормального, який за замовчуванням "" (пусто)
                td
            tr
                td none
                td встановлює вміст, якщо він вказаний, на "нічого"
                td
            tr
                td counter(myIndex)
                td встановлює вміст як лічильник
                td
                    p.el-count mamont
                    p.el-count mamont
                    p.el-count mamont
                    p.el-count mamont
            tr
                td attr(attribute)
                td встановлює вміст як один із атрибутів селектора
                td <span class='el-data' data-content='Ты чо такой дерзкий!!!'>Якщо на мене навести я вам дещо скажу :)</span>
            tr
                td open-quote
                td встановлює вміст як відкриту цитату
                td.el-quote
            tr
                td close-quote
                td встановлює вміст як закриту цитату
                td.el-quote-close
            tr
                td no-open-quote
                td видаляє початкову цитату з вмісту, якщо вона вказана
                td

            tr
                td no-close-quote
                td видаляє кінцеву цитату з вмісту, якщо вона вказана
                td
            tr
                td url("url")
                td задає вмісту (зображення).
                td
                    div.el-url
            tr
                td
                td
                td


        div
            img(src='img/p1.jpg')
            img(src='img/p2.jpg')
            img(src='img/p3.jpg')
            img(src='img/p4.jpg')

        h2 ::first-letter
        p Визначає стиль першого символу в тексті елемента, до якого додається.

        p.first-letter Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
        p.first-letter -The beginning of a special punctuation mark.
        p.first-letter _The beginning of a special punctuation mark.
        p.first-letter *The beginning of a special punctuation mark.
        p.first-letter "The beginning of a special punctuation mark.
        p.first-letter 'The beginning of a special punctuation mark.
        p.first-letter &The beginning of a special punctuation mark.
        p.first-letter 5The beginning of a special punctuation mark.
        p.first-letter /The beginning of a special punctuation mark.
        p.first-letter +The beginning of a special punctuation mark.

        h2 ::first-line
        p Визначає стиль першого текстового рядка.

        p.first-line Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.

        h2 ::selection
        p Визначає стиль виділення тексту юзером.

        p Тільки деякі властивості CSS можна використовувати з цим псевдоелементом:<br> (color, background-color, и text-shadow. )
        p.select Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
