@import '../utilities/_variables';
@import '../utilities/_color';

.main-content {
  width: 100%;
}

.container {
  //margin: 0 auto;
  margin-left: 50px;
  padding: 0;

  margin-bottom: 100px;
}

.main-title {
  text-align: center;
}

.orange-text {
  color: #de7300;
}

.blue-text {
  color: blue;
}