@import '../utilities/_variables';
@import '../utilities/_color';

.main-content {
  position: relative;
  width: 100%;
  height: 100%;

  &.home {

    .container {
      width: 90%;
      margin: auto;
    }

    &::before {
      content: "";
      display: block;
      position: fixed;
      top: -10px;
      width: 100%;
      height: 110%;
      opacity: .05;
      z-index: -10;
      background: {
        image: url('../img/html-css_background.jpg');
        size: cover;
        position: 50% 50%;
      };

    }

  }

  .css-tutorial {

  }

}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.main-title {
  text-align: center;
}

.orange {
  color: #de7300;
}

.blue {
  color: blue;
}
