
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no')

  title CSS

  link(rel='stylesheet' href='./css/main.css')
  link(rel='stylesheet' href='./js/libs/highlight/styles/monokai-sublime.css')


  script(type='text/javascript' src='./js/libs/jquery/jquery.min.js')
  script(type='text/javascript' src='./js/libs/jquery/jquery.mousewheel.min.js')
  script(type='text/javascript' src='./js/scripts/slickcustomscroll.js')
  script(type='text/javascript' src='./js/main.js')
  //script(type='text/javascript' src='./js/libs/scripts/scroll.js')
  script(type='text/javascript' src='./js/libs/highlight/highlight.pack.js')
