
script(type='text/javascript' src='./js/libs/jquery/jquery.min.js')
script(type='text/javascript' src='./js/libs/jquery/jquery-1.11.0.min.js')
script(type='text/javascript' src='./js/libs/jquery/jquery.mousewheel.min.js')
script(type='text/javascript' src='./js/libs/jquery/jquery.mousewheel-3.0.6.min.js')
script(type='text/javascript' src='./js/libs/highlight/highlight.pack.js')
script(type='text/javascript' src='./js/libs/MalihuScroll/jquery.mCustomScrollbar.js')
script(type='text/javascript' src='./js/main.js')