doctype html

block vars

html(lang='en')

    block head
        include ../general/_head

    block body

        block nav

        block main

        block scripts
            include ../general/_scripts