@import './colors/project_default';

// General ---------------
$title-color: #4d4d52;
$box-shadow-black: 3px 8px 29px -6px rgba($black, 0.5);
$base-text: #696969;
$menu-color: darken(#F9FAFB, 1);

$flex-elem_bg-1: #FA3031;
$flex-elem_bg-2: #009890;

$orange-1: #FF6421;
$blue-1: #009BD9;
$box-color-1: rgba(#D8D8D8, .9);
$grey-1: lighten(#696969, .5);

// -----------------------

// Header ---------------

// -----------------------

// Nav-bar ----------------

// -----------------------

// Footer ----------------

// -----------------------

// Buttons ---------------

// -----------------------

// Tables ----------------

// -----------------------
