-
    var data = {
    'title' : 'For gamers by gamers TEE',

    'pageTitle' : 'For gamers by gamers TEE',

    'mainImg' : {
      'src': './img/main-img.jpg',
      'alt': 'Cool jacket'
    },
    'code' : '701642853695',
    'currentItemPrice' : '29.50',
    'currentItemNewPrice' : '19.99',

    'shareTitle': 'Share with',

    'detailsText' : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',

    'itemsList' : [
      {'price': '29.99', 'newPrice': '19.99', 'imgSrc' : './img/img1.jpg', 'alt': 'Item1'},
      {'price': '22.00', 'imgSrc' : './img/img2.jpg', 'alt': 'Item2'},
      {'price': '24.99', 'imgSrc' : './img/img3.jpg', 'alt': 'Item3'},
      {'price': '29.99', 'newPrice': '19.99', 'imgSrc' : './img/img4.jpg', 'alt': 'Item4'},
      {'price': '60.00', 'imgSrc' : './img/img5.jpg', 'alt': 'Item5'},
      {'price': '54.00', 'imgSrc' : './img/img6.jpg', 'alt': 'Item6'}
    ]
    }