@import '../utilities/_fonts_var';

// Fonts include

@each $font-name, $font-data  in $fonts-data {
  @if (type-of($font-data) == 'map') {
    @for $i from 1 through length($font-data) {
      @font-face {
        font-family: $font-name;
        font-style: normal;
        font-weight: nth(map-get($font-data, $i), 5);
        src: local(nth(map-get($font-data, $i), 3)), local(nth(map-get($font-data, $i), 4)),
        url('#{$fonts-path}#{nth(map-get($font-data, $i), 1)}#{nth(map-get($font-data, $i), 2)}.woff2') format('woff2'),
        url('#{$fonts-path}#{nth(map-get($font-data, $i), 1)}#{nth(map-get($font-data, $i), 2)}.woff') format('woff');
      }
    }
  }
}


@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fonts-path}fonts/font-awesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('#{$fonts-path}fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
  url('#{$fonts-path}fonts/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
  url('#{$fonts-path}fonts/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
  url('#{$fonts-path}fonts/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
  url('#{$fonts-path}fonts/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  //  src: url('#{$fa-font-path}fonts/font-awesome/FontAwesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}