section.aside-bar
    ul.theme-list
        li
            a(href='#animation-name').theme-item animation-name
        li
            a(href='#animation-duration').theme-item animation-duration
        li
            a(href='#animation-timing').theme-item animation-timing
        li
            a(href='#animation-delay').theme-item animation-delay
        li
            a(href='#animation-count').theme-item animation-count
        li
            a(href='#animation-direction').theme-item animation-direction
        li
            a(href='#3danimations').theme-item 3d-animation
        li
            a(href='#perspective-origin').theme-item Topic test

    .slide-btn
