nav.nav-menu
    a(href='index.html').home-link home
    ol.nav-list
        li
            a(href='selectors.html').nav-link Селектори, Псевдокласи, Каскадність, Псевдоелементи
        li
            a(href='css_boxmodel.html').nav-link СSS Box model
        li
            a(href='measurement.html').nav-link Одиниці виміру
        li
            a(href='position.html').nav-link Позиціонування
        li
            a(href='fonts.html').nav-link Стилізація тексту
        li
            a(href='block_style.html').nav-link Стилізація елементів
        li
            a(href='media.html').nav-link @media
        li
            a(href='transform.html').nav-link Трансформація
        li
            a(href='animations.html').nav-link Анімація (2D, 3D)
        li
            a(href='flexbox.html').nav-link Flex-box
        li
            a(href='#').nav-link Display
        li
            a(href='#').nav-link Префікси
        li
            a(href='#').nav-link SVG
        li
            a(href='#').nav-link Спрайти