nav.nav-menu
    a(href='index.html').home-link home
    ol.nav-list
        li
            a(href='selectors.html').nav-link
                span Селектори, Псевдокласи, Каскадність, Псевдоелементи
        li
            a(href='css_boxmodel.html').nav-link
                span СSS Box model
        li
            a(href='measurement.html').nav-link
                span Одиниці виміру
        li
            a(href='position.html').nav-link
                span Позиціонування
        li
            a(href='fonts.html').nav-link
                span Стилізація тексту
        li
            a(href='block_style.html').nav-link
                span Стилізація елементів
        li
            a(href='media.html').nav-link
                span @media
        li
            a(href='transform.html').nav-link
                span Трансформація
        li
            a(href='animations.html').nav-link
                span Анімація (2D, 3D)
        li
            a(href='flexbox.html').nav-link
                span Flex-box
        li
            a(href='#').nav-link
                span Display
        li
            a(href='#').nav-link
                span Префікси
        li
            a(href='#').nav-link
                span SVG
        li
            a(href='#').nav-link
                span Спрайти