nav.main-nav
    a(href='index.html').to-home < Home
    div.nav-block
        a(href='selectors.html').nav-link <span class='nav-link-num'>1</span> Селектори, Псевдокласи, Каскадність, Псевдоелементи
        a(href='css_boxmodel.html').nav-link <span class='nav-link-num'>2</span> СSS Box model
        a(href='measurement.html').nav-link <span class='nav-link-num'>3</span> Одиниці виміру
        a(href='position.html').nav-link <span class='nav-link-num'>4</span> Позиціонування
        a(href='fonts.html').nav-link <span class='nav-link-num'>5</span> Стилізація тексту
        a(href='block_style.html').nav-link <span class='nav-link-num'>6</span> Стилізація елементів
        a(href='media.html').nav-link <span class='nav-link-num'>7</span> @media
        a(href='fonts.html').nav-link <span class='nav-link-num'>8</span> Анімація (2D, 3D)

        a(href='').nav-link <span class='nav-link-num'>10</span> Display
        a(href='').nav-link <span class='nav-link-num'>11</span> Префікси
        a(href='').nav-link <span class='nav-link-num'>12</span> SVG
        a(href='').nav-link <span class='nav-link-num'>13</span> Спрайти
    div.decorate