
.box-model_image {
  img {
    display: block;
    margin: auto;
  }
}

.box-wrap {
  position: relative;
  margin: 1rem auto;
  background-color: #fecc90;


  &::before, &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
  }

  &.first {
    border-right: 1px solid $grey-1;
  }

  &.inline {
    display: inline-block;

    .inline-box {
      display: inline-block;
      width: auto;
    }
  }
}

.box {
  background-color: $blue-1;
  border: 5px solid #6db12b;
  padding: 30px;
  margin: 40px;
  width: 200px;
  background-clip: content-box;

  span {
    background-color: white;
    display: block;
  }
}

.content-box {
  box-sizing: content-box;
  width: 200px;
  margin: 40px;
  padding: 30px;
  border: 5px solid $base-bg;
}

.border-box {
  box-sizing: border-box;
  width: 200px;
  @extend .content-box;
}

.inline-box {
  background-color: $blue-1;
  border: 5px solid red;
  padding: 20px;
  margin: 40px;
  width: 200px;

  span {
    background-color: white;
    //display: block;
  }
}

.text-left {
  text-align: left;
}

.width-low {
  width: 240px;
}

.bordred {
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  background-color: $grey-1;
}
