//----------------------------------------------------------------------------------------
//flexbox module -------------------------------------------------------------------------

@mixin flex-toggler {
  display: flex;
  justify-content: space-around;
  font-size: 15px;

  a {
    color: blue;
  }

  a:focus, a:active {
    color: #00e892;
    text-decoration: underline;
  }

}

.flex-toggler {
  @include flex-toggler;

  &Grow-1 {
    @include flex-toggler;
    color: $white;
  }

  &Grow-2 {
    @include flex-toggler;
    color: $white;
  }

  &Grow-3 {
    @include flex-toggler;
    color: $white;
  }

}

.flex-layout {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 10rem;
}

.flex-container {
  width: 80%;
  display: flex;
  margin: 2rem auto;
  padding: .3rem;
  border-radius: 7px;
  background-color: rgba(200, 200, 200, .3);
  box-shadow: $box-shadow-black;

  &.unsized {
    width: auto;
  }

}

.flex-element {
  font-size: .7rem;
  margin: .3rem;
  color: $white;
  font-weight: 700;
  padding: .4rem;
  line-height: 1rem;
  border-radius: 7px;

  &:nth-child(2n) {
    background-color: #00a19b;
  }

  &:nth-child(2n-1) {
    background-color: #f44336;
  }

// grow/shrink ----------------------------------------------------------
// ----------------------------------------------------------------------

  &.thin {
    flex-basis: 150px;
  }

  &.wide {
    flex-basis: 400px;
  }
}