.home-card {
  width: 25rem;
  height: 21rem;
  padding: 2rem;
  box-shadow: $box-shadow;
  border-radius: 2px;

  .theme-list {
    max-height: 80%;
    padding-bottom: 5rem;
    display: block;
    overflow: auto;
  }

}

.card-title {
  position: relative;
  color: $title-color;
  margin-top: .25rem;
  font-weight: 800;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -2.1rem;
    display: block;
    width: 3px;
    height: 110%;
    background-color: #08c;
    border-radius: 20%;

  }
}

.row {
  display: flex;
  justify-content: space-around;
}
.col {
  display: inline-block;
}