






.for-hover {
  display: inline-block;
  border: 2px solid black;
  padding: 10px;
  cursor: pointer;

  &:hover {
    border-color: green;
    color: green;
  }
}

.for-active {
  @extend .for-hover;

  &:active {
    border-color: red;
    color: red;
  }
}