

.selector-example {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: inline-block;
    text-align: left;

    &:first-child {
      margin-right: 50px;
    }
  }
}


.child {
  margin: 0;
  &-first {
    li:first-child {
      color: red;
    }
  }

  &-last {
    li:last-child {
      color: red;
    }
  }

  &-num {
    li:nth-child(2) {
      color: red;
    }
  }

  &-num-last {
    li:nth-last-child(2) {
      color: red;
    }
  }

  &-not {
    li:not(:last-child) {
      color: red;
    }
  }

  &-lang {
    li:lang(en) {
      color: green;
    }

    li:lang(ua) {
      color: #ffa500;
    }
  }
}

span:target {
  display: inline-block;
  border: 1px solid red;
  color: red;
}

.iverit {
  border: 2px solid blue;
  margin: 40px 0;

  &::before {
    content: 'Шо це за хрень?';
    color: red;
  }

  &::after {
    content: 'Івріт походу';
    color: red;
  }
}

.first-letter {
  &::first-letter {
    color: red;
    font-size: 150%;
  }
}

.first-line {
  &::first-line {
    color: red;
    font-size: 18px;
  }
}

.select {
  &::selection {
    color: red;
    font-size: 20px;
    text-decoration: underline;
    text-shadow: 2px 2px #fff;
    background-color: #2c303d;
  }
}

.el-data {
  position: relative;
  display: block;
  &:hover::before {
    content: attr(data-content);
    display: block;
    position: absolute;
    background-color: #2c303d;
    color: white;
    padding: 10px;
    left: 100%;
  }
}

.el-count {
  counter-increment: myIndex;

  &::before {
    content: counter(myIndex);
    color: red;

  }
}

.el-quote {
  &::before {
    content: open-quote;
  }
}

.el-quote-close {
  &::before {
    content: close-quote;
  }
}

.el-url {
  height: 120px;
  background-color: #9cd0f4;
  position: relative;

  &::before {
    content: url("../img/s1.png");
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &::after {
    content: url("../img/s2.png");
    position: absolute;
    top: 0;
    right: 0;
  }
}


// ------------------------------------------------------------------------------
//measurement -------------------------------------------------------------------


.font-size-24 {
  font-size: 24px;
}

.font-size-1-5em {
  font-size: 1.5em;
}





