.aside-bar {
  position: fixed;
  top: 20%;
  right: -172px;
  width: 170px;
  height: 400px;
  padding: 1rem;
  box-shadow: $box-shadow-black;
  border-radius: $base-border-radius;
  background-color: $menu-color;
  transition: right 200ms linear;
  cursor: pointer;
  font-size: 13px;

  &:hover {
    right: -10px;

    .slide-btn {
      opacity: 0;
    }
  }

}

.slide-btn {
  position: absolute;
  top: 50%;
  left: -25px;
  background-color: #666;
  height: 8.5rem;
  width: 25px;
  border-bottom-left-radius: $base-border-radius;
  border-top-left-radius: $base-border-radius;
  transform: translateY(-50%);
  transition: opacity 100ms ease-in-out;

}